<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
</head>
<body>
	<div class="container">

		<h1 class="mt-4">商品一覧</h1>

		<div th:if="${statusMessage}" class="alert alert-success mt-4">
			[[${statusMessage}]]</div>

		<p>
			<a class="mt-4 btn btn-primary" th:href="@{/items/add}">商品登録</a> <a
				class="mt-4 ml-4 btn btn-secondary" th:href="@{/csv/csvExport}">CSV出力</a>
			<a class="mt-4 ml-4 btn btn-secondary" th:href="@{/logout}">ログアウト</a>
		</p>

		<table class="table" id="itemTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>タイトル</th>
					<th>カテゴリ</th>
					<th>開始価格</th>
					<th>出品日</th>
					<th>編集</th>
					<th>画像</th>
					<th>削除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${items}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.title}"></td>
					<td th:text="${item.category}"></td>
					<td th:text="${item.startingPrice}"></td>
					<td th:text="${#temporals.format(item.listingDate,'yyyy年MM月dd日')}"></td>
					<td><a class="btn btn-primary"
						th:href="@{/items/edit/{id}(id=${item.id})}">編集</a></td>
					<td><a class="btn btn-success"
						th:href="@{/images/addImage/{id}(id=${item.id})}">画像</a></td>
					<td>
						<button class="btn btn-danger delete"
							th:data-href="@{/items/delete/{id}(id=${item.id})}"
							th:data-name="${item.title}" data-bs-toggle="modal"
							data-bs-target="#confirm-modal">削除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function() {
		// DataTableの初期化
		var table = $('#itemTable').DataTable({
			"columnDefs" : [ {
				"targets" : [ 5,6,7 ], // 6番目の列（「取得」ボタン）を並べ替え対象外
				"orderable" : false
			}]
		});
	});
</script>


<div class="modal fade" id="confirm-modal" tabindex="-1"
	aria-labelledby="confirmModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">商品の削除</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				「<span id="delete-name"></span>」を削除します。よろしいですか？
			</div>
			<div class="modal-footer">
				<a class="btn btn-danger" id="delete-yes">はい</a>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">いいえ</button>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
document
  .querySelectorAll(".delete")
  .forEach(btn => btn.addEventListener("click", e => {
	const name = e.target.getAttribute("data-name");
	document
	  .getElementById("delete-name")
	  .textContent = name;
	
	const href = e.target.getAttribute("data-href");
	document
	  .getElementById("delete-yes")
	  .setAttribute("href", href);
  }));
</script>


</body>
</html>